<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/docuementType.css" />
		<title></title>
		
	</head>

	<body style="padding: 15px;">
		<form class="layui-form" action="">
			<div class="form-text">
				请选择文档类型：
			</div>
			<table>
				<tr>
					<td><input type="checkbox" /><span>.doc/docx</span></td>
					<td><input type="checkbox" /><span>.xls/xlsx</span></td>
					<td><input type="checkbox" /><span>.ppt/pptx</span></td>
				</tr>
				<tr>
					<td><input type="checkbox" /><span>.jpg</span></td>
					<td><input type="checkbox" /><span>.txt</span></td>
					<td><input type="checkbox" /><span>.png</span></td>
				</tr>
				<tr>
					<td><input type="checkbox" /><span>.war</span></td>
					<td><input type="checkbox" /><span>.zip</span></td>
					<td><input type="checkbox" /><span>.7z</span></td>
				</tr>
				<tr>
					<td><input type="checkbox" /><span>.java</span></td>
					<td><input type="checkbox" /><span>.class</span></td>
				</tr>
			</table>
		</form>
	</body>
</html>
<script type="text/javascript" src="3rd/jquery-3.3.1.js"></script>
<script type="text/javascript" src="3rd/layer/layer.js"></script>
<script type="text/javascript" src="3rd/layui/layui.js"></script>
<script type="text/javascript">
	
</script>
